{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{% static 'shop/css/styles.css' %}">
    <title>info</title>
</head>
<body>
    <h2>{{ bike.name }}</h2>
    <div>
        <p>frame: {{ bike.frame.color }}</p>
        <p>seat: {{ bike.seat.color }}</p>
        <p>tires: {{ bike.tire.type }}</p>
        <p>basket: {% if bike.has_basket %}yes{% else %}no{% endif %}</p>
        <p>description: {{ bike.description }}</p>
    </div>
    <div>
        {% if is_available %}
        {% include "shop/order_form.html" %}
        {% else %}
        <p1><b>Unfortunately, this bike is currently not available</b></p1>
        {% endif %}
    </div>
</body>
</html>
